<ion-header class="ion-no-border">
  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="params.category">{{ params.category.title }}</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onPresentFilterModal()">
        <ion-icon slot="start" name="funnel"></ion-icon>
        <span class="text-small">{{ 'REFINE' | translate }}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary" fixed>
    <ion-searchbar disabled="true" searchIcon="navigate" class="text-small" mode="ios" [value]="location?.address"
      (click)="onPresentLocationSelectModal()" [placeholder]="'ENTER_LOCATION' | translate" inputmode="search"
      type="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content #container scrollEvents="true" class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="onReload($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_NETWORK' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" icon="map" [text]="'EMPTY_PLACES' | translate">
  </empty-view>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button shape="round" *ngIf="isContentViewVisible" (click)="onViewMapButtonTouched()">
      {{ 'VIEW_ON_MAP' | translate }}
      <ion-icon slot="end" name="map"></ion-icon>
    </ion-button>
  </ion-fab>

  <ion-grid fixed>

    <ion-row *ngIf="isLoadingViewVisible">
      <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let item of skeletonArray">
        <ngx-skeleton-loader count="1" appearance="circle"
          [theme]="{ width: '100%', height: '200px', 'border-radius': '0' }">
        </ngx-skeleton-loader>
      </ion-col>
    </ion-row>

    <div class="custom-select ion-margin-vertical" *ngIf="isContentViewVisible">
      <ion-item color="light" lines="none">
        <ion-label>
          <ion-text class="bold" color="medium">
            {{ 'SORT_BY' | translate }}
          </ion-text>
        </ion-label>

        <ion-select class="text-medium" [(ngModel)]="selectedSortOption" (ionChange)="onSortOptionTouched($event)"
          [compareWith]="compareSortOption" interface="popover">
          <ion-select-option [value]="option" *ngFor="let option of sortOptions">
            {{ (option.sortByField + '_' + option.sortBy) | uppercase | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-row [@staggerIn]="places.length">
      <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let place of places">
        <app-place-card [routerLink]="['./' + place.id + '/' + place.slug]" [place]="place"
          [extraParams]="{ location: location, unit: preference.unit }" [customObservable]="loadAndScroll">
        </app-place-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll *ngIf="isContentViewVisible && places.length" (ionInfinite)="onLoadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>