ion-content {
  --background: var(--ion-color-light-tint);
}

ion-fab {
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.custom-select {
  ion-item {
    --padding-start: 6px;

    ion-label {
      margin-top: 8px;
    }

    ion-select {
      background: #fff;
      border-radius: 10px;
      max-width: 100%;
    }
  }
}
