<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119839241913-qujhofckfrhk4orib3runl7oqqlognla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119839241913-qujhofckfrhk4orib3runl7oqqlognla</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>119839241913-hl43sfamjs180vdl45bd2f4m1q1v4d4u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwOC0vY-Ve4Wvisl_FN22maUDmoFh7SUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>119839241913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.degula.nearme</string>
	<key>PROJECT_ID</key>
	<string>degula-appfeb</string>
	<key>STORAGE_BUCKET</key>
	<string>degula-appfeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119839241913:ios:6fb9f6637b12e6f5284d68</string>
	<key>DATABASE_URL</key>
	<string>https://degula-appfeb.firebaseio.com</string>
</dict>
</plist>