<ion-header class="ion-no-border">
  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PROFILE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-no-padding" size-xs="12" size-sm size-md size-lg="8">

        <div>

          <section class="heading">

            <ion-avatar>
              <img src-fallback="./assets/img/avatar.png" [src]="user?.attributes.photo?.url()" />
            </ion-avatar>

            <ion-text color="light">
              <h3>{{ user?.attributes.name }}</h3>
            </ion-text>

            <ion-button margin-top shape="round" color="light" (click)="openSignInModal()" *ngIf="!user">
              {{ 'LOGIN' | translate }}
            </ion-button>

          </section>

          <ion-list class="ion-no-padding ion-no-margin">
            <ion-item color="light" (click)="goTo('places')">
              <ion-icon name="pin" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p class="bold link text-slarge">{{ 'MY_PLACES' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item color="light" (click)="goTo('likes')">
              <ion-icon name="heart" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p class="bold link text-slarge">{{ 'LIKES' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item color="light" (click)="goTo('reviews')">
              <ion-icon name="star" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p class="bold link text-slarge">{{ 'REVIEWS' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item color="light" (click)="onPresentChangePasswordModal()">
              <ion-icon name="lock-closed" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p class="link bold link text-slarge">{{ 'CHANGE_PASSWORD' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item color="light" (click)="onPresentEditModal()">
              <ion-icon name="create" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p class="link bold link text-slarge">{{ 'EDIT_PROFILE' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item color="light" (click)="onPresentSettingsModal()">
              <ion-icon name="cog" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p class="link bold link text-slarge">{{ 'SETTINGS' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item lines="none" color="light" (click)="navigateToRelative('./help')">
              <ion-icon name="help-buoy" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p class="link bold link text-slarge">{{ 'HELP' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item lines="none" color="light" (click)="onLogout()" *ngIf="user">
              <ion-icon name="log-out" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p class="link bold link text-slarge">{{ 'LOGOUT' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
          </ion-list>

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>