ion-grid {
  padding: 0;
}

ion-slides {
  height: auto;

  .bg-img {
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
  }

  .swiper-pagination-bullet-active {
    background: var(--ion-color-light);
  }
}

ion-avatar {
  margin: 0 12px 0 0 !important;

  img {
    background: var(--ion-color-dark);
  }
}

ion-thumbnail {
  --border-radius: 6px;
  width: 80px;
  height: 80px;
}

ion-list {
  background: var(--ion-color-light);
}

ion-item {
  --padding-start: 0;
}

ion-row[nowrap] {
  overflow: hidden;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.review-count {
  margin-left: 6px;
}

.icon-share {
  font-size: 48px;
}

.skeleton-item {
  width: auto;
  height: auto;
  margin: 10px auto;
  padding: 10px;

  .wrapper {
    display: inline-flex;
    width: 100%;
    height: auto;
    flex: 1;

    .avatar {
      width: 100px;
      height: 90px;
    }

    .title {
      width: 100%;
      padding: 10px;
      height: 80px;
    }
  }
}

@media (min-width: 992px) {
  ion-thumbnail {
    width: 100px;
    height: 100px;
  }
}