<ion-header class="ion-no-border">
  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar class="text-small" inputmode="search" mode="ios" [placeholder]="'ENTER_ADDRESS' | translate"
      (ionInput)="onSearchAddress($event)" (ionCancel)="onClearSearchAddress()" (ionClear)="onClearSearchAddress()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce [attr.style]="ionContentStylePadding">
  <div slot="fixed" style="left: 0; right: 0">
    <ion-grid fixed *ngIf="suggestions.length">
      <ion-list lines="none" class="shadow" [@staggerIn]="suggestions.length">
        <ion-item class="hover" button detail="false" *ngFor="let suggestion of suggestions"
          (click)="onSuggestionTouched(suggestion)">
          <ion-label>
            <ion-text color="dark">
              <span class="link bold text-medium">
                {{ suggestion.description }}
              </span>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-grid>
  </div>

  <ion-grid class="fullscreen" fixed>
    <ion-row class="fullscreen ion-justify-content-center">
      <ion-col class="fullscreen hide-xs-up show-lg-up" size="6">

        <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_NETWORK' | translate">
        </empty-view>

        <empty-view *ngIf="isEmptyViewVisible" icon="map" [text]="'EMPTY_PLACES' | translate">
        </empty-view>

        <div class="flex-center" *ngIf="isLoadingViewVisible">
          <ion-spinner></ion-spinner>
        </div>

        <ion-list class="scroll" [@staggerIn]="places.length" *ngIf="places.length">
          <ion-item button lines="none" detail="false" *ngFor="let place of places" (mouseenter)="onPlaceHover(place)"
            [routerLink]="['../' + place.id + '/' + place.slug]">
            <ion-thumbnail slot="start">
              <img [src]="place.imageThumb?.url()" src-fallback="./assets/img/placeholder.png" />
            </ion-thumbnail>
            <ion-label>
              <ion-text color="dark">
                <h2 class="bold no-margin ellipsis link">
                  {{ place.title }}
                </h2>
              </ion-text>
              <ion-text color="medium">
                <p class="bold no-margin">
                  {{ place.category.title }}
                </p>
              </ion-text>
              <bar-rating class="rating" [rate]="place.rating" [readOnly]="true" [max]="5" [theme]="'stars'">
              </bar-rating>
            </ion-label>

            <div slot="end">
              <ion-text color="primary">
                <span class="bold">
                  {{ place.distance(location, preference.unit) }}
                </span>
              </ion-text>
            </div>
          </ion-item>

        </ion-list>
      </ion-col>
      <ion-col size-xs="12" size-lg="6">
        <div #map class="map"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-bottom-drawer class="hide-lg-up" [(state)]="bottomDrawerConfig.state" (click)="onBottomDrawerTouched()"
  [minimumHeight]="bottomDrawerConfig.minimumHeight" [dockedHeight]="bottomDrawerConfig.dockedHeight"
  [shouldBounce]="bottomDrawerConfig.shouldBounce" [distanceTop]="bottomDrawerConfig.distanceTop"
  [disableDrag]="bottomDrawerConfig.disableDrag" [transition]="bottomDrawerConfig.transition">
  <ion-toolbar slot="fixed">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon [name]="bottomDrawerConfig.state === 2 ? 'chevron-down' : 'chevron-up'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="drawer-content">
    <ion-list>
      <ion-item button lines="none" detail="false" *ngFor="let place of places" (click)="showInfoWindow(place, $event)">
        <ion-thumbnail slot="start">
          <img [src]="place.imageThumb?.url()" src-fallback="./assets/img/placeholder.png" />
        </ion-thumbnail>
        <ion-label>
          <ion-text color="dark">
            <h2 class="bold no-margin ellipsis link">
              {{ place.title }}
            </h2>
          </ion-text>
          <ion-text color="medium">
            <p class="bold no-margin">
              {{ place.category.title }}
            </p>
          </ion-text>
          <bar-rating class="rating" [rate]="place.rating" [readOnly]="true" [max]="5" [theme]="'stars'"></bar-rating>
        </ion-label>

        <div slot="end">
          <ion-text color="primary">
            <span class="bold">
              {{ place.distance(location, preference.unit) }}
            </span>
          </ion-text>
        </div>
      </ion-item>

    </ion-list>
  </div>
</ion-bottom-drawer>