ion-grid {
  padding: 0;
}

app-place-card {
  --image-height: 150px;
  --content-padding: 8px;
}

.scrollable {
  app-place-card {
    --image-width: 100%;
    --image-height: 130px;

    --content-padding: 6px;
  }
}

ion-card {
  ion-card-content {
    padding: 4px;
  }
}

ion-slides {
  --bullet-background: var(--ion-color-light);
  --bullet-background-active: var(--ion-color-primary);

  ion-slide img {
    display: block;
    width: 100%;
  }

  .slide-img {
    background-color: var(--ion-color-white);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    width: 100%;
    height: 200px;
  }
}

ion-row.ion-nowrap {
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  .text-small {
    font-size: 14px !important;
  }

  ion-slides {
    .slide-img {
      height: 350px;
    }
  }

  .scrollable {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: normal;
    flex-wrap: wrap;

    app-place-card {
      display: block;
      margin: 0;
      width: 100%;

      --image-width: 100%;
      --image-height: 200px;

      --content-padding: 8px;
    }
  }
}
