<ion-item button lines="none" (click)="goToPlace()">
  <ion-thumbnail slot="start">
    <img [src]="place.imageThumb?.url()" src-fallback="./assets/img/placeholder.png" />
  </ion-thumbnail>
  <ion-label>
    <ion-text color="dark">
      <h2 class="bold no-margin ellipsis">
        {{ place.title }}
      </h2>
    </ion-text>
    <ion-text color="medium">
      <p class="bold no-margin">
        {{ place.category.title }}
      </p>
    </ion-text>
    <bar-rating class="rating" [rate]="place.rating" [readOnly]="true" [max]="5" [theme]="'stars'"></bar-rating>
  </ion-label>

  <div slot="end">
    <ion-text color="primary">
      <span class="bold">
        {{ place.distance(location, unit) }}
      </span>
    </ion-text>
  </div>
</ion-item>