<ion-header class="ion-no-border">
  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ADD_PLACE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-no-padding" size-xs="12" size-lg="8">

        <div class="autocomplete">
          <ion-searchbar inputmode="search" color="light" debounce="600" [placeholder]="'ENTER_ADDRESS' | translate"
            (ionInput)="onSearchAddress($event)">
          </ion-searchbar>

          <ion-list lines="none" class="shadow" *ngIf="suggestions.length" [@staggerIn]="suggestions.length">
            <ion-item class="hover" button detail="false" *ngFor="let suggestion of suggestions"
              (click)="onSuggestionTouched(suggestion)">
              <ion-label>
                <ion-text color="dark">
                  <span class="link bold text-medium">
                    {{ suggestion.description }}
                  </span>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>

        <div #map class="map" id="map"></div>

        <ion-text color="dark">
          <h4 class="text-medium">{{ 'UPLOAD_IMAGES' | translate }}</h4>
        </ion-text>

        <div class="scrollable">
          <app-upload-box [text]="'FEATURED_IMAGE' | translate" (onFileUploaded)="onMainFileUploaded($event)">
          </app-upload-box>
          <app-upload-box *ngFor="let upload of uploads" (onFileUploaded)="onFileUploaded($event, upload)">
          </app-upload-box>
        </div>

        <ion-list class="ion-padding">

          <form [formGroup]="form" (ngSubmit)="onSubmit()" #myForm="ngForm" novalidate>

            <ion-label position="stacked" color="medium">
              <span class="bold">{{ 'NAME' | translate }} *</span>
            </ion-label>
            <ion-item class="ion-margin-vertical" lines="none" color="light">
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>

            <div class="hide-xs-only">
              <ion-label position="stacked" color="medium">
                <span class="bold">{{ 'CATEGORY' | translate }} *</span>
              </ion-label>
              <ion-item class="ion-margin-vertical" lines="none" color="light">
                <ion-label></ion-label>
                <select formControlName="category" [compareWith]="compareCategory">
                  <option *ngFor="let category of categories" [ngValue]="category">
                    {{ category.title }}
                  </option>
                </select>
              </ion-item>
            </div>

            <div class="hide-sm-up">
              <ion-label position="stacked" color="medium">
                <span class="bold">{{ 'CATEGORY' | translate }} *</span>
              </ion-label>
              <ion-item class="ion-margin-vertical" lines="none" color="light">
                <ion-label></ion-label>
                <ion-select formControlName="category" interface="popover" [okText]="'OK' | translate"
                  [cancelText]="'CANCEL' | translate">
                  <ion-select-option *ngFor="let category of categories" [value]="category">
                    {{ category.title }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <ion-label position="stacked" color="medium">
              <span class="bold">{{ 'DESCRIPTION' | translate }} *</span>
            </ion-label>
            <ion-item class="ion-margin-vertical" lines="none" color="light">
              <ion-textarea rows="4" formControlName="description"></ion-textarea>
            </ion-item>

            <ion-label position="stacked" color="medium">
              <span class="bold">{{ 'WEBSITE' | translate }}</span>
            </ion-label>
            <ion-item class="ion-margin-vertical" lines="none" color="light">
              <ion-input type="url" formControlName="website"></ion-input>
            </ion-item>

            <ion-label position="stacked" color="medium">
              <span class="bold">{{ 'ADDRESS' | translate }}</span>
            </ion-label>
            <ion-item class="ion-margin-vertical" lines="none" color="light">
              <ion-input type="text" formControlName="address"></ion-input>
            </ion-item>

            <ion-label position="stacked" color="medium">
              <span class="bold">{{ 'PHONE' | translate }}</span>
            </ion-label>
            <ion-item class="ion-margin-vertical" lines="none" color="light">
              <ion-input type="text" formControlName="phone" (keyup.enter)="myForm.ngSubmit.emit()"></ion-input>
            </ion-item>

            <div class="ion-text-center">
              <ion-button type="submit" strong shape="round" color="primary" [disabled]="isSaving">
                <ion-spinner color="light" *ngIf="isSaving"></ion-spinner>
                <span *ngIf="!isSaving">{{ 'SUBMIT' | translate }}</span>
              </ion-button>
            </div>

          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>